﻿@using BLL.ViewModels
@using Ecommerce.Utility.Pagination
@using E_commerce.Utility.Settings

@model PaginatedResult<ProductListVm>

<div class="card-body p-0">

    <table class="table table-hover align-middle mb-0">

        <thead class="table-dark">
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Category</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>

        <tbody>

            @if (Model.Items != null && Model.Items.Any())
            {
                foreach (var item in Model.Items)
                {
                    <tr>

                        <td>
                            <img src="@($"{FileSettings.ImagesPathProducts}/{item.ImageUrl}")"
                                 alt="product"
                                 style="width:60px;height:60px;object-fit:cover;border-radius:8px;" />
                        </td>

                        <td>@item.Title</td>

                        <td>@item.Author</td>

                        <td>@item.ISBN</td>

                        <td>@item.CategoryName</td>

                        <td class="text-center">

                            <a asp-action="Edit"
                               asp-route-id="@item.Id"
                               asp-route-returnUrl="@Url.Action("Index", "Product", new
                               {
                                   pageNumber = Model.PageNumber,
                                   pageSize = Model.PageSize,

                               })"
                               class="btn btn-sm btn-warning">
                                Edit
                            </a>

                            <a asp-action="Details"
                               asp-route-id="@item.Id"
                               class="btn btn-sm btn-info text-white">
                                Details
                            </a>

                            <button class="btn btn-sm btn-danger"
                                    onclick="openDeleteModal(
                                '@item.Title',
                                '@Url.Action("DeleteConfirmed", "Product", new { id = item.Id })')">
                                Delete
                            </button>

                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center py-5">
                        <h5>No products found.</h5>
                    </td>
                </tr>
            }

        </tbody>

    </table>

</div>

<partial name="~/Views/Shared/_PaginationPagePartial.cshtml"
         model="Model" />

     